/*Media queries for tablets================================================*/

@media (min-width: 768px) and (max-width: 1290px) {
	#ip-info {
		background-size: cover;
		background-position: top;
		padding-bottom: 130px;
}
	.wrapper_for_logo {
		width: 610px;
		margin-left: auto;
		margin-right: auto;
	}
	.more_info_about_ip {
		height: 470px;
		background: #FFFFFF;
		border-radius: 20px 20px 0 0;
		width: 610px;
		margin-left: auto;
		margin-right: auto;
	}
	#what_my_ip {
		text-transform: uppercase;
		font-size: 26px;
		line-height: 32px;
		padding-top: 50px;
		text-align: center;
		font-family: 'Montserrat', sans-serif;
	}
	#private_information {
		font-weight: bold;
		font-size: 16px;
		line-height: 20px;
		margin-top: 9px;
		text-align: center;
	}
	#ip_adress {
		width: 465px;
		font-weight: bold;
		font-size: 22px;
		line-height: 27px;
		margin-left: 60px;
		margin-top: 45px;
		text-align: left;
	}
	.ip-position_information {
		margin-left: 60px;
		width: 108px;
		text-align: right;
		display: inline-block;
	}
	.ip-position_information_span {
		font-size: 16px;
		line-height: 34px;
		color: #313131;
		width: 173px;
		margin-left: 16px;
	}
	.protect_yourself_button {
		margin-top: 42px;
		margin-bottom: 50px;
		padding-top: 10px;
        width: 215px;
        height: 41px;
        padding-left: 0;
        padding-right: 0;
}
    .protect_yourself_button > a {
        font-size: 16px;
		line-height: 20px;
    }   
	.triangle_polygon_position {
		position: absolute;
		top: 87%;
		right: 44%;
		z-index: 1;
		transform: rotate(90deg);
	}
	.make_shadow {
		/*-webkit-box-shadow: 0 4px 28px rgba(0, 0, 0, 0.18);
	        box-shadow: 0 4px 28px rgba(0, 0, 0, 0.18);*/
		box-shadow: none;
		border-radius: 20px;
	}
	.info-bg {
		height: 297px;
		background: url('../img/location-indicator.png') no-repeat center, url('../img/map.png') no-repeat center;
		width: 610px;
		margin-left: auto;
		margin-right: auto;
		border-radius: 0 0 20px 20px;
	}
	#header_row_ip_info {
		margin-top: 1.5%;
		width: 610px;
		margin-left: auto;
		margin-right: auto;
}
	.plus_column_n2 {
		font-weight: bold;
		font-size: 22px;
		line-height: 16px;
		color: #313131;
        width: 280px;
}
	.plus_column_inform {
		width: 350px;
		margin-bottom: 30px;
	}
	.wrapper_for_plus_column {
	  margin-left: 20%
	}
	
	#ip_definition {
		width: 610px;
		margin-left: auto;
		margin-right: auto;
	}
	
	#ip_internet_protocol_text {
		width: 610px;
		margin-left: auto;
		margin-right: auto;
	}
	.what_is_ip_h1_and_revel {
		width: 610px;
		margin-left: auto;
		margin-right: auto;
        font-size: 26px;
		line-height: 32px;
		margin-bottom: 46px;
        margin-top: 125px;
	}
	.ip_reveals_column_text {
		width: 190px;
		padding-right: 20px;
		margin-top: 80px;
	}
	.ip_reveals_column_h2 {
		width: 190px;
		padding-right: 20px;
		font-size: 22px;
	}
	.ip_reveals_column_h3 {
		width: 190px;
		padding-right: 20px;
		margin-top: 60px;
	}
	.change_width_on_tablet {
		width: 190px;
		margin: 0;
	}
	#ip-reveals {
		width: 610px;
		margin-left: auto;
		margin-right: auto;
	}
	.ip_reveal_warn_image {
		margin-left: 0;
		width: 374px;
		margin-bottom: 86px;
	}
	.wrapper_for_ip_reveal_warn_image {
		text-align: center;
	}
	.wrapper_for_what_can_be_done {
		width: 509px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	.what_can_be_done {
		font-size: 20px;
		line-height: 26px;
	}
	.wrapper_for_what_can_be_done > ul {
		text-align: left;
	}
	.img_warn_and_text_block {
		margin-top: 0;
	}
	#benefits {
		width: 610px;
		margin-left: auto;
		margin-right: auto;
        margin-bottom: 95px;
	}
	.benefits_block_li {
		width: 300px;
	}
	.img_benefits {
		width: 387px;
		float: none !important;
        display: block;
        margin-left: auto;
        margin-right: auto;
	}
    .hide_this_element_on_small_device {
    display: none;
    }
    .hide_this_element_on_big_device {
    display: inline-block;
}
    #cta {
        width: 610px;
        margin-left: auto;
        margin-right: auto;
    }
    .hide_your_ip_button {
		padding-top: 3px;
        width: 215px;
        padding-left: 0;
        padding-right: 0;
        height: 41px;
        margin-top: 40px;
    }
    .hide_your_ip_button > a {
        font-size: 16px;
        line-height: 36px;
    }
    .cta_iphone_img {
        position: absolute;
	    left: -40%;
	    top: 13%;
        content: url(../img/phone_small.png);
    }
    #protect_your_IP {
        font-size: 20px;
        line-height: 24px; 
        margin-bottom: 40px;
    }
    .block_with_tech_ico {
        font-size: 16px;
        line-height: 20px;
}
    .block_with_tech_ico > img {
        margin-right: 10px;
        margin-left: 2px;
    }
    .block_with_tech_ico > span {
        margin-right: 15px;
    }
    .ios_cta_block_image {
       content: url(../img/ic-ios-small.png);
        margin-right: 0;
    }

    .win_cta_block_image {
        content: url(../img/ic-win-small.png);
        
    }

    .apple_cta_block_image {
        content: url(../img/ic-apple-small.png);
    }

    .linux_cta_block_image {
        content: url(../img/ic-linux-small.png);
    }

    .router_cta_block_image {
        content: url(../img/ic-router-small.png);
    }

    .apple-tv_cta_block_image {
        content: url(../img/ic-apple-tv-small.png);
    }

    .chrome_cta_block_image {
        content: url(../img/ic-chrome-small.png);
    }

    .firefox_cta_block_image {
        content: url(../img/ic-firefox-small.png);
    }

    .opera_cta_block_image {
        content: url(../img/ic-opera-small.png);
    }
}


/*=========================================================================*/

